node_modules
dist
.env
.git
.gitignore o  oooooooo  oooooooooo  ooooooooooooooooooo   oooooooooooooooo oooooooooooooooo oooooooooooooooo   ooooooooooooo oooooooooooooooooo  oooooooooooooooooooooooo oooooooooooooooooooooo     ooooooooooo      oooooooooooooooooooo      
*.log
.DS_Store
.vscode
.idea
coverage
*.md
